{% extends 'base.html' %}

{% block title %}
- About us!
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1>are you sure you want to delete {{ post.title }}</h1>
    <hr />
    <br>
    <h4>Posted on {{ post.pub_date }}</h4>
    <p>{{ post.description }}</p>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <form action="{% url 'delete' post.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">yes</button>
            </form>
            </div>
            <div class="col-sm">
                <form action="{% url 'dashboard' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">no</button>
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}